@model Carterestt.Models.ResetPasswordViewModel
@{
<<<<<<< HEAD
    ViewBag.Title = "Забравена парола";
=======
    ViewBag.Title = "Сброс пароля";
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<<<<<<< HEAD
<h4>Забравена парола.</h4>
=======
    <h4>Сброс пароля.</h4>
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
<<<<<<< HEAD
            <input type="submit" class="btn btn-default" value="Password reset" />
=======
            <input type="submit" class="btn btn-default" value="Сброс" />
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
