@model Data.Post

@{
    ViewBag.Title = "Details";
<<<<<<< HEAD

}

<h2>@Model.Name</h2>
<div class="row">
    <div class="col-md-12">
        <img src="~/Images/@Model.FileName" class="img-responsive" alt="@Model.Name" />
    </div>
    <div class="col-md-12 text-center" style="font-size: 30px;">
        @Model.Decription
    </div>
    @{
        if (Model.UserId != null)
        {
            <div class="col-md-12 text-center">
                Снимка: @Model.UserId
            </div>
        }
    }
</div>
=======
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
