<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>@ViewBag.Title – Carterest ASP.NET</title>
=======
    <title>@ViewBag.Title – приложение ASP.NET</title>
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<<<<<<< HEAD
                @Html.ActionLink("Carterest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Марки", "Index", "Home")</li>
                    <li>@Html.ActionLink("Публикации", "Index", "Posts")</li>
                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <li>@Html.ActionLink("Добавяне на публикация", "Create", "Posts")</li>
                    }
=======
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
<<<<<<< HEAD
            <p>&copy; @DateTime.Now.Year – Carterest ASP.NET</p>
=======
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
>>>>>>> d198e5d06df4f0db1032d3302f5e1e095185431e
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
